# ignore gitignore itself
.gitignore

# ignore node_modules and yarn.lock
node_modules
yarn.lock

# ignore .env files
.env
.env.local
.env.development
.env.production

# ignore logs
logs

# ignore docker containers
docker/
docker-compose.yml

# ignore pyc files
*.pyc

# ignore coverage reports
coverage.xml
coverage.html